$sizes: (
  'sm': small,
  'md': medium,
  'lg': large
);

// Sizes can be changed and everything else will proportionally adjust
$radius: (
  'sm': 100px,
  'md': 200px,
  'lg': 300px
);

@function get-size($size) {
    $value: null;
    @if ( $size != '' and map-has-key($sizes, unquote($size)) ) {
      $value: map-get($sizes, unquote($size));
    }
    @return $value;
  }
  
  @function get-radius($size) {
    $value: null;
    @if ( $size != '' and map-has-key($radius, unquote($size)) ) {
      $value: map-get($radius, unquote($size));
    }
    @return $value;
  }

  @function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
  
    @return $number;
  }