@mixin base-styles() {
  font-family: "Verdana", "Arial";
  font-size: 13px;
  position: relative;
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    // Fallbacks in case anchor href is left empty
    &[href=""] {
      cursor: default;
      pointer-events: none;
    }
    &[href="#"] {
      cursor: default;
      pointer-events: none;
    }
    &:hover {
      opacity: $radial-hover-opacity;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: $colour-grey;
  }
  &__info {
    text-align: center;
    position: absolute;
    top: 0;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    word-wrap: break-word;
    z-index: 1;
    display: flex;
    flex-direction: column;;
  }
  &__heading {
    display: block;
    font-size: 1.5rem;
  }
  &__body {
    margin: 0;
    font-size: 1rem;
  }
  &__dial-container {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    &-wedge {
      transition: transform linear;
      position: relative;
      background-color: $colour-red;
      transform: rotate(0deg);
    }
    &.--left {
      left: 0;
      .radial-progress__dial-container-wedge {
        transform-origin: 0 50%;
      }
    }
    &.--right {
      .radial-progress__dial-container-wedge {
        transform-origin: 100% 50%;
      }
    }
  }
  &.--whole {
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    background: $color-white;
    border-radius: 50%;
    position: absolute;
  }
}

@mixin component-animations() {
  @for $d from 1 through 100 {
    &.--rotate-#{$d} {
      @for $s from 1 through 9 {
        &.--speed-#{$s} {
          @if $d < 51 {
            .radial-progress__dial-container {
              &.--right {
                .radial-progress__dial-container-wedge {
                  transform: rotate($d * 3.6 + deg);
                  transition-duration: ($radial-progress-speed * $s) + s;
                }
              }
            }
          } @else {
            .radial-progress__dial-container {
              &.--left {
                .radial-progress__dial-container-wedge {
                  transform: rotate(($d - 50) * 3.6 + deg);
                  transition-duration: ($radial-progress-speed * $s) - ((($radial-progress-speed * $s)/$d)*50) + s;
                  transition-delay: (($radial-progress-speed * $s)/$d)*50 + s;
                }
              }
              &.--right {
                .radial-progress__dial-container-wedge {
                  transform: rotate(180 + deg);
                  transition-duration: (($radial-progress-speed * $s)/$d)*50 + s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin component-generator($size) {
  $radius: get-radius($size);
  $component-size: get-size($size);
  &.--#{$component-size} {
    width: $radius;
    height: $radius;
    .radial-progress__info {
      // Worked out as a proportion to the thickness of the cirlce fill overlay
      padding: 0 (($radius/4)/2);
      font-size: $radius / 10;
    }
    .radial-progress__dial-container {
      width: $radius/2;
      &-wedge {
        height: $radius;
        width: $radius/2;
      }
      &.--right {
        left: $radius/2;
        .radial-progress__dial-container-wedge {
          border-radius: $radius 0 0 $radius;
          left: -$radius/2;
        }
      }
      &.--left {
        .radial-progress__dial-container-wedge {
          border-radius: 0 $radius $radius 0;
          left: $radius/2;
        }
      }
    }
    &.--thick {
      &:after {
        // Worked out as a proportion of the large shape size to get the perfect circile fill overlay
        width: calc((#{$radius}/4)*3);
        height: calc((#{$radius}/4)*3);
        top: ($radius/4)/2;
        left: ($radius/4)/2;
      }
    }
    &.--thin {
      &:after {
        // Worked out as a proportion of the large shape size to get the perfect circile fill overlay
        width: calc(((#{$radius/4})*3) + (#{$radius}/6));
        height: calc(((#{$radius/4})*3) + (#{$radius}/6));
        top: calc((#{$radius} - ((#{$radius/4})*3 + (#{$radius}/6)))/2);
        left: calc((#{$radius} - ((#{$radius/4})*3 + (#{$radius}/6)))/2);
      }
    }
  }
}
