$radial-progress-speed: 1; // Base value multiplied against the class value --speed-[VALUE]
$radial-hover-opacity: 1;
$colour-grey: #F2F3F4;
$colour-red: #BE0A38;
$color-white: #FFFFFF;
$font-family: "Verdana", "Arial";
$base-font-size: 13px;
